<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>vuejs 2</title>
		<script src="//cdn.bootcss.com/vue/2.2.1/vue.js"></script>
	</head>

	<body>
		<h2>变量</h2>
		<div id="app">
			<p>v-text变量值：{{message}}</p>
			<p>v-html字符输出 ：<span v-html='message' v-once></span><small>v-once 保持原始数据</small></p>
			<p>模版上计算:{{a?a+1:"no"}}</p>
			<p>双向绑定<input type="text" v-model='message' /></p>
		</div>
		<script>
			new Vue({
				el: "#app",
				data: {
					message: '<h3>Hello vuejs!</h3>',
					a: 1,
				},

			})
		</script>
		<hr />
		<h2>渲染列表v-for ='(value,key,index) in object'</h2>
		<ul id="for">
			<li v-for="(arr,key,index) of arrs">
				key{{key}}-{{index}}-{{arr.text}}
			</li>

		</ul>
		<script>
			new Vue({
				el: "#for",
				data: {
					arrs: {
						'00': {
							text: "v-for自动循环生成对象中的数据"
						},
						'11': {
							text: "必须是一个对象的键值",
						},
					}
				}
			})
		</script>
		<hr />
		<h2>用户事件methods + v-on:</h2>
		<div id="function">
			<input type="text" v-model='hello' />
			<button v-on:click='set_hello'>SET</button>
		</div>
		<script>
			new Vue({
				el: "#function",
				data: {
					hello: 'Hello Vue.js!'
				},
				methods: {
					set_hello: function() {

						this.hello = "Hello MVVM!";
					}
				}
			})
		</script>
		<hr />
		<h2>传参 namefun(index)</h2>
		<div class="index">
			<ol>
				<input type="text" v-model='input' @keyup.enter='addLi' /><button type="button" v-on:click='addLi'>Add</button>
				<p><small>按回车添加</small></p>
				<li v-for="(arr,index) in arrs" v-bind:index='index'>
					{{arr.text}}
					<input type="button" value="Del" v-on:click="removeLi(index)" />
				</li>
			</ol>
		</div>
		<script>
			new Vue({
				el: ".index",
				data: {
					input: "",
					arrs: [{
						text: "添加数组"
					}],
					a: 1,
				},
				methods: {
					addLi: function(o) {
						if(this.input) {
							this.arrs.push({
								text: this.input
							});
							this.input = '';
						}

					},
					removeLi: function(index) {
						this.arrs.splice(index, 1)
					}
				}

			})
		</script>
		<hr>
		<h3>表单控制</h3>
		<div id="form">
			<template>
				<h5>文本输入框 v-model='textarea'</h5>
				<textarea v-model='textarea'></textarea>
				<p>输入的内容:{{textarea}}</p>
			</template>
			<template>
				<h5>单选项 v-model='radio' </h5>
				<p><input type="radio" id="one" value="男" v-model='radio' /><label for="one">男</label></p>
				<p><input type="radio" id='two' value="女" v-model='radio' /><label for="two">女</label></p>
				<p>输入的内容:{{radio}}</p>
			</template>
			<template>
				<h5>下拉单选 v-model='select'</h5>
				<select v-model='select'>
					<option>option1</option>
					<option>option2</option>
					<option>option3</option>
				</select>
				<p>输入的内容:{{select}}</p>
			</template>
			<template>
				<h5>选中框状态 v-model='checked'</h5>
				<p><input type="checkbox" v-model='checked'>{{checked}}</p>
			</template>
		</div>
		<script>
			var vm = new Vue({
				el: "#form",
				data: {
					textarea: "",
					radio: '',
					select: "",
					checked: false,
				},
			});
		</script>
		<hr />
		<h3 style="text-align: center;">组件</h3>
		<h3>全局组件Vue.component</h3>
		<div id="element">
			<vue-name></vue-name>
			<vue-add></vue-add>
			<vue-add></vue-add>
			<vue-add></vue-add>
		</div>
		<script>
			//全局注册
			var txt = {
				text: "全局 作用于所有 vue",
				num: 0,
			};
			//全局组件
			Vue.component("vue-name", {
				template: "<h5>{{text}}</h5>",
				data: function() {
					//执行组件时传递对象 使用{{读取key}}
					return txt;
				}
			})
			Vue.component("vue-add", {
				template: "<button type='button' @click='num+=1'>{{num}}</button>",
				data: function() {
					return txt;
				}
			})
			new Vue({
				el: "#element",

			})
		</script>
		<hr/>
		<div id="child">
			<!-- 全局 所用 vue 生效 -->
			<vue-name></vue-name>
			<h5>局部注册 components</h5>
			<vue-child></vue-child>
			<vue-child></vue-child>
			<vue-child></vue-child>
		</div>
		<script>
			var com = new Vue({
				el: "#child",
				data: {
					text: "局部生效",
				},
				components: {
					// <my-component> 将只在父模板可用
					'vue-child': {
						template: "<button type='button' @click='num+=1'>{{num}}</button>",
						data: function() {
								return {
									num: 0
								};
							} //每次调用方法调用
					}
				}
			})
		</script>
		<hr />
		<h2>解析说明</h2>
		<p>
			当使用 DOM 作为模版时（例如，将 el 选项挂载到一个已存在的元素上）, 你会受到 HTML 的一些限制，因为 Vue 只有在浏览器解析和标准化 HTML 后才能获取模版内容。尤其像这些元素 ul ， ol， table ， select 限制了能被它包裹的元素， option 只能出现在其它元素内部。</p>
		<section id="dom">
			<vue-name></vue-name>
			<ul>
				<li is="vue-name"></li>
			</ul>
		</section>
		<script>
			new Vue({
				el: "#dom"
			})
		</script>
		<hr/>
		<h3>传参 props</h3>
		<section id="props">
			<child></child>
		</section>
		<p><small>HTML 特性不区分大小写。当使用非字符串模版时，名字形式为 camelCase(驼峰) 的 prop 用作特性时，需要转为 kebab-case（短横线隔开）:</small></p>
		<script>
			new Vue({
				el: "#props",
				components: {
					// <my-component> 将只在父模板可用
					'child': {
						template: '<span>{{ dataStr }}</span>',
						props: {
							'dataStr': {
								/*	类型
								 * String
									Number
									Boolean
									Function
									Object
									Array*/
								type: [Number], //设定类型
								//required: true, //强制类型
								default: function() {
									//默认值  不存在props则 return
									return 11
								},
								validator: function(value) {
									//验证 则 tip
									return value > 10
								}
							}
						}, //获取一个标签上data-str的值
						computed: {
							normalizedSize: function() {
								return this.dataStr + '10';
							}
						}
					}
				}
			});
		</script>
		<hr />
		<h3>动态参数</h3>
		<section id="prop">
			<p><input type="text" placeholder="输入一个参数" v-model='str'>
				<my-prop :data-str='str'></my-prop>
			</p>
		</section>
		<p><small>把v-model 用 v-bind 绑定到 模版上 可以实现动态参数</small></p>
		<P>[不允许子级改变父级参]prop 是单向绑定的：当父组件的属性变化时，子</P>

		<script>
			Vue.component("my-prop", {
				template: "<input type='text' placeholder='子级无法响应父级' v-model='dataStr' >",
				props: ['dataStr'],
			});
			new Vue({
				el: "#prop",
				data: {
					str: null
				},

			})
		</script>
		<hr />

		<hr />
		<h3>自定义绑定事件 v-on </h3>
		<section id="on">
			<p>总数:{{total}}</p>
			<vue-add v-on:addd='totalFun'></vue-add>
			<span>+</span>
			<vue-add v-on:addd='totalFun' v-on:click.native="nativeFun"></vue-add>
			<ul>
				<li>使用 $on(eventName) 监听事件</li>
				<p>另外，父组件可以在使用子组件的地方直接用 v-on 来监听子组件触发的事件。</p>
				<li>使用 $emit(eventName) 触发事件</li>
				<li>元素上监听一个原生事件。可以使用 .native 修饰 v-on</li>
				<li>nameVue.$emit(eventName) 也可以用触发其他的vue的方法</li>
			</ul>
		</section>
		<script>
			//< v-on:click.native="nativeFun" >
			function nativeFun(e) {
				console.log(e)

			}
			new Vue({
				el: "#on",
				//数据
				data: {
					total: 0,
				},
				//组件
				components: {
					//创建一个组件
					"vue-add": {
						//组件模版
						template: "<button type='button' @click='add'>{{totalChild}}</button>",
						//
						data: function() {
							return {
								totalChild: 0
							};
						},
						methods: {
							add: function() {
								this.totalChild += 1;
								this.$emit("addd"); //触发父级:add事件 达到响应效果
							},
						}

					},
				}, //components end
				//父级事件
				methods: {
					//计算总数
					totalFun: function() {
						this.total += 1;
					},

				}
			});
		</script>
		<hr />
		<h3>input 组件</h3>
		<p>v-model 相当于 v-bind:value='message' v-on:input='message = $enent.target.value' </p>
		<div id="v-model-example">
			<p>{{ message }}</p>
			<my-input label="Message" v-model='message'></my-input>
		</div>
		<script>
			Vue.component('my-input', {
				template: '\
    <div class="form-group">\
      <label v-bind:for="randomId">{{ label }}:</label>\
      <input v-bind:id="randomId" v-bind:value="value" v-on:input="onInput">\
    </div>\
  ',
				props: ['value', 'label'], //接收参数
				data: function() {
					return {
						randomId: 'input-' + Math.random()
					}
				},
				methods: {
					onInput: function(event) {
						//(functionName,value)
						console.log(event)
						this.$emit('input', event.target.value)
					}
				},
			})
			new Vue({
				el: '#v-model-example',
				data: {
					message: 'hello'
				}
			})
		</script>
		<hr />
		<h3>slot 分发内容</h3>
		<fieldset>
			<p>&lt;app&gt;<br/> &lt;app-header&gt;&lt;/app-header&gt;
				<br/> &lt;app-footer&gt;&lt;/app-footer&gt;
				<br/> &lt;/app&gt;
			</p>
		</fieldset>
		<p>父组件的内容将被抛弃，除非子组件模板包含 slot 。如果子组件模板只有一个没有特性的 slot，父组件整个内容片段 将插到 slot 所在的 DOM 位置并替换掉 slot 标签。</p>
		<section id="slot">
			<app-slot>
				<p>当内存在slot标签，获取内容</p>
			</app-slot>
		</section>

		<script>
			new Vue({
				el: "#slot",
				components: {
					"app-slot": {
						template: "<div><h2>slot的用法</h2><slot>如果没有分发内容则显示我。</slot></div>",
					}
				}
			})
		</script>
		<section>
			<h3>slot 内容分发</h3>

			<p>&lt;slot&gt; 元素可以用一个特殊的属性 name 来配置如何分发内容。多个 slot 可以有不同的名字。具名 slot 将匹配内容片段中有对应 slot 特性的元素。</p>
			<div id="slotName">
				<h5>slot='name'</h5>
				<slot-content>
					<header slot='header'>分发header内容</header>
					<footer slot='footer'>分发footer内容</slot>
				</slot-content>
			</div>
			<script>
				new Vue({
					el: "#slotName",
					components: {
						"slot-content": {
							template: "<div class='content'><slot name='header'>header内容部分</slot><content name='con'>正文内容</content><slot name='footer'>footer内容</slot></div>"
						}

					}
				})
			</script>
		</section>
		<section>
			<h3>作用域插槽 传递参数</h3>
			<p>作用域插槽是一种特殊类型的插槽，用作（可以传入数据的）可重用模板,而不是已渲染元素。 在子组件中，只需将数据传递到插槽，就像你将 prop 传递给组件一样： 在父级中，具有特殊属性 scope 的&lt;template&gt; 元素，表示它是作用域插槽的模板。scope 的值对应一个临时变量名，此变量接收从子组件中传递的 prop 对象：
			</p>
			<h4>例</h4>
			<div id="scop">
				<my-ul :data-item='items'>
					<template slot='ul' scope="props">
						<li>{{props.text-1}}</li>
					</template>
				</my-ul>
			</div>
			<script>
				new Vue({
					el: "#scop",
					data: {
						items: [{
							text: 1
						}, {
							text: 2
						}, {
							text: 3
						}]
					},
					components: {
						"my-ul": {
							template: "<ol><slot name='ul' v-for=\"item in dataItem\" :text=\"item.text\">数组</slot></ol>",
							props: ["dataItem"], //props 动态参
						}
					}
				})
			</script>
		</section>
		<section>
			<h3>动态组件</h3>
			<p>多个组件可以使用同一个挂载点，然后动态地在它们之间切换。使用保留的 component 元素，动态地绑定到它的 is 特性：
				<p>
					<fieldset id="component">
						<legend>
							<select v-model='view'>
								<option>con</option>
								<option>con1</option>
								<option>con2</option>
							</select>
						</legend>
						<i>如果把切换出去的组件保留在内存中，可以保留它的状态或避免重新渲染。为此可以添加一个 <strong>keep-alive</strong> 指令参数：</i>
						<keep-alive>
							<component v-bind:is='view'></component>
						</keep-alive>

					</fieldset>
					<script>
						new Vue({
							el: "#component",
							data: {
								view: "con"
							},
							components: {
								con: {
									template: "<p style='color:red'>动态模版1</p>"
								},
								con1: {
									template: "<p style='color:green'>动态模版2</p>"
								},
								con2: {
									template: '<p style="color:blue">动态模版3</p>'
								}
							}
						})
					</script>
		</section>
		<hr />
		<section>
			<h3><center>杂项</center></h3>
			<h4>refs 指定组件</h4>
			<div id="ref">
				<p>$refs 只在组件渲染完成后才填充，并且它是非响应式的。它仅仅作为一个直接访问子组件的应急方案——应当避免在模版或计算属性中使用 $refs</p>
				<user-profile :data-text='str' ref="profile" />
			</div>
			<script type="text/x-template" id="x-template">
				<!--x-template 模版-->
				<p>{{dataText}}</p>
			</script>
			<script>
				var parent = new Vue({
					el: '#ref',
					data: {
						"str": "文字内容"
					},
					components: {
						"user-profile": {
							//x-template id
							template: "#x-template",
							props: ['dataText']

						}
					},
					watch: {
						//监控变化
						"str": {
							handler: function(val, oldVal) {
								//改变时执行

							},
							deep: true //深度模式
						}
					}

				})
				parent.str = '使用x-template模版';
				// 访问子组件
				var child = parent.$refs.profile;
			</script>
		</section>
		<section>
			<h3>v-once 底开销静态组件</h3>
			<p>尽管在 Vue 中渲染 HTML 很快，不过当组件中包含大量静态内容时，可以考虑使用 v-once 将渲染结果缓存起来，就像这样</p>
			<p>Vue.component(&#x27;terms-of-service&#x27;, { template: &#x27; &lt;div v-once&gt; &lt;h1&gt;Terms of Service&lt;/h1&gt; ... a lot of static content ... &lt;/div&gt; &#x27; })
			</p>
		</section>
		<hr />
		<section>
			<h3><center>动画效果</center></h3>
			<ul>
				<li>在 CSS 过渡和动画中自动应用 class</li>
				<li>可以配合使用第三方 CSS 动画库，如 Animate.css</li>
				<li>在过渡钩子函数中使用 JavaScript 直接操作 DOM</li>
				<li>可以配合使用第三方 JavaScript 动画库，如 Velocity.js</li>
			</ul>
			<style>
				.fade-enter-active,
				.fade-leave-active {
					/*过渡状态*/
					transition: all 1s;
				}
				
				.fade-enter-to,
				.fade-leave-to {
					background: #fcc;
				}
				
				.fade-enter,
				.fade-leave-to
				/* .fade-leave-active in <2.1.8 */
				
				{
					opacity: 0;
					background: #39f;
				}
				/*anmate*/
				
				.animate-leave-active {
					-webkit-animation: bg 5s linear;
				}
				
				@-webkit-keyframes bg {
					from {
						background: #f00;
					}
					to {
						background: #000;
					}
				}
				
				.animate-enter-active {
					-webkit-animation: enter_bg 5s linear;
				}
				
				@-webkit-keyframes enter_bg {
					from {
						background: #39f;
					}
					to {
						background: #f00;
					}
				}
			</style>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>
			<link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
			<fieldset>
				<legend>transition 组件</legend>
				<p>Vue 提供了 <code>transition</code> 的封装组件，在下列情形中，可以给任何元素和组件添加 entering/leaving 过渡</p>
				<ul>
					<li>条件渲染 （使用 <code>v-if</code>）</li>
					<li>条件展示 （使用 <code>v-show</code>）</li>
					<li>动态组件</li>
					<li>组件根节点</li>
				</ul>
				<ol>
					<li>
						<p>自动嗅探目标元素是否有 CSS 过渡或动画，并在合适时添加/删除 CSS 类名。</p>
					</li>
					<li>
						<p>如果过渡组件设置了过渡的
							<a href="#JavaScript-Hooks">JavaScript 钩子函数</a>，会在相应的阶段调用钩子函数。</p>
					</li>
					<li>
						<p>如果没有找到 JavaScript 钩子并且也没有检测到 CSS 过渡/动画，DOM 操作（插入/删除）在下一帧中立即执行。(注意：此指浏览器逐帧动画机制，与 Vue，和Vue的 <code>nextTick</code> 概念不同)</p>
					</li>
				</ol>
				<p>对于这些在 enter/leave 过渡中切换的类名，v- 是这些类名的前缀。使用 transition name="my-transition" 可以重置前缀，比如 v-enter 替换为 my-transition-enter。</p>
				<section id='transition'>
					<button type="button" @click="show=!show">fade</button>
					<transition name="fade">
						<p v-show="show">transition</p>
					</transition>
					<transition name="animate">
						<p v-show="show">animate</p>
					</transition>

					<transition name="custom-classes-transition" enter-active-class="animated tada" leave-active-class="animated bounceOutRight" appear>
						<p v-if="show">animate.css</p>
					</transition>

					<transition v-on:leave='leave' v-on:enter='enter' v-bind:css='false'>
						<p v-if="show">animate js</p>
					</transition>
				</section>
				<ol>
					<h5>过渡的css 类名</h5>

					<li>
						<p><code>v-enter/v-leave</code>: 定义开始/离开过渡的开始状态。在开始/离开过渡被触发时生效，在下一个帧移除。</p><i>从无到有enter/从有到无leave</i>
					</li>
					<li>
						<p><code>v-enter-active/v-leave-active</code>: 定义开始/离开过渡的结束状态。在开始/离开过渡被触发时生效，在 <code>transition/animation</code> 完成之后移除。
					</li>
					<li>
						<p><code>v-enter-to/v-leave-to</code>: <strong>Only available in versions &gt;=2.1.8.</strong> 定义最终开始/离开过渡的结束状态，过渡结束时移除
						</p>
					</li>
				</ol>
				<ul>
					<h5>自定义过渡域名</h5>
					<li><code>enter-class</code></li>
					<li><code>enter-active-class</code></li>
					<li><code>enter-to-class</code> (&gt;= 2.1.8 only)</li>
					<li><code>leave-class</code></li>
					<li><code>leave-active-class</code></li>
					<li><code>leave-to-class</code> (&gt;= 2.1.8 only)</li>
				</ul>
				<ul>
					<h5>js动画 对应Vue methods 触发  function(el) 返回一个操作对象</h5>
					<li>
						<strong> v-on:before-enter</strong>

					</li>
					<li>
						<strong> v-on:enter</strong>
					</li>
					<li>
						<strong> v-on:after-enter</strong>
					</li>
					<li>
						<strong> v-on:enter-cancelled</strong>
					</li>
				</ul>
				<ol>
					<li>当只用 JavaScript 过渡的时候， 在 enter 和 leave 中，回调函数 done 是必须的 。 否则，它们会被同步调用，过渡会立即完成。

						<li>推荐对于仅使用 JavaScript 过渡的元素添加 v-bind:css="false"，Vue 会跳过 CSS 的检测。这也可以避免过渡过程中 CSS 的影响。

				</ol>
				<ul>

					<li>初次渲染过渡 transition元素 添加 appear属性</li>
					<li>当有相同标签名的元素切换时，需要通过 key 特性设置唯一的值来标记以让 Vue 区分它们，否则 Vue 为了效率只会替换相同标签内部的内容。即使在技术上没有必要，给在 transition 组件中的多个元素设置 key 是一个更好的实践。</li>
				</ul>
			</fieldset>
			<script>
				new Vue({
					el: "#transition",
					data: {
						show: true,
						more: true,
					},
					methods: {
						enter: function(el, done) {
							//过渡开始触发 返回一个dom
							var size = 12;
							requestAnimationFrame(animate);

							function animate() {
								size++;
								if(size < 25) {
									el.style.fontSize = size + 'px';
									requestAnimationFrame(animate);

								} else {
									done();
								}
							}

						},
						leave: function(el, done) {
							//过渡开始触发 返回一个dom
							var size = 25;
							requestAnimationFrame(animate);

							function animate() {
								size--;
								if(size) {
									el.style.fontSize = size + 'px';
									requestAnimationFrame(animate);

								} else {
									done();
								}
							}

						},
					}

				})
			</script>
			<fieldset id='more'>
				<legend>多元素过渡 key, mode</legend>
				<transition name='fade' mode='out-in'>
					<button v-if="more" key="on" @click='more=false'>
    on
  </button>
					<button v-else key="off" @click='more=true'>
    off
  </button>
				</transition>
			</fieldset>

			<ul>
				<li>
					in-out: 新元素先进行过渡，完成之后当前元素过渡离开。</li>
				<li>
					out-in: 当前元素先进行过渡，完成之后新元素过渡进入。
				</li>
			</ul>

			<script>
				new Vue({
					el: "#more",
					data: {
						more: true,
					}
				})
			</script>
			<style>
				/*list*/
				
				.list-item {
					width: 20px;
					height: 20px;
					text-align: center;
					line-height: 20px;
					display: inline-block;
					border: 1px solid;
					margin-right: -1px;
					margin-bottom: -1px;
				}
				
				.list-enter-active,
				.list-leave-active {
					transition: all 1s linear;
					position: absolute;
				}
				
				.list-enter,
				.list-leave-to {
					opacity: 0;
					transform: translateY(30px);
				}
				
				.list-move {
					transition: all 1s linear;
				}
			</style>
			<fieldset id="group">
				<legend>列表过渡</legend>

				<button type="button" @click='addList'>add</button>
				<button type="button" @click='react'>react</button>
				<transition-group name='list' tag='ul'>
					<li v-for="(item,index) in  list" v-bind:key="item" :data-index='index' class='list-item'>
						<a>
							{{item+1}}
						</a>
					</li>
				</transition-group>
				<i>*key == index 时无法触发v-move</i>
			</fieldset>

			<h5>列表过渡 transition-group</h5>
			<ul>
				<li>不同于 transition， 它会以一个真实元素渲染：默认为 span。你也可以通过 tag 属性更换为其他渲染元素</li>
				<li>它内部的元素必须具有唯一的 key 属性</li>
				<li> v-move 特性 它会在元素的改变定位的过程中应用。像之前的类名一样，可以通过 name 属性来自定义前缀（**-move），也可以通过 move-class 属性手动设置。 例中的list-complete-item
					<ul>
						<li>需要注意的是使用 FLIP 过渡的元素不能设置为 display: inline 。作为替代方案，可以设置为 display: inline-block 或者放置于 flex 中</li>
					</ul>
				</li>
			</ul>
			<script>
				new Vue({
					el: "#group",
					data: {
						list: [0, 1, 2, 3, 4, 5, 6, 7, 8, ]
					},
					methods: {
						addList: function() {
							//添加
							var length = this.list.length;
							this.list.push(length);

						},
						react: function() {
							//随机改变
							this.list = _.shuffle(this.list)
						}
					}

				})
			</script>
			<fieldset>
				<legend>过渡状态 与 watcher</legend>
				<div class="watch">
					<input type="number" v-model='num' />
					<p>{{numshow}}</p>
				</div>
			</fieldset>
			<script>
				new Vue({
					el: ".watch",
					data: {
						"num": 0, //输入数字
						"numshow": 0,
						"animate": null
					},
					watch: {
						"num": {
							handler: function(now, old) {
								var that = this;
								var n = this.numshow;
								if(that.animate) cancelAnimationFrame(that.animate)
								that.animate = requestAnimationFrame(animateNum);

								function animateNum() {

									if(n < now) {
										//递增
										n++;
										that.animate = requestAnimationFrame(animateNum);

									} else if(n > now) {
										//递减
										n--;
										that.animate = requestAnimationFrame(animateNum);

									} else if(n == now) {
										//结束
										cancelAnimationFrame(that.animate)
										return false;
									}

									that.numshow = n;
								};

							},
							//deep: true //深度模式

						}

					}
				})
			</script>
		</section>
		<hr />
		<section>
			<h3><center>自定义指令</center></h3>
			<fieldset id="directive">
				<legend>directive</legend>
				<input type="text" v-load value='加载是触发' />
			</fieldset>

			<script>
				// 注册一个全局自定义指令 v-load 
				Vue.directive('load', {
					// 当绑定元素插入到 DOM 中。
					inserted: function(el) {
						// 聚焦元素
						el.select();
					}
				})
				new Vue({
					el: "#directive"
				})
			</script>
			<ul>
				<li>
					<p><code>bind</code>: 只调用一次，指令第一次绑定到元素时调用，用这个钩子函数可以定义一个在绑定时执行一次的初始化动作。</p>
				</li>
				<li>
					<p><code>inserted</code>: 被绑定元素插入父节点时调用（父节点存在即可调用，不必存在于 document 中）。</p>
				</li>
				<li>
					<p><code>update</code>: 被绑定元素所在的模板更新时调用，而不论绑定值是否变化。通过比较更新前后的绑定值，可以忽略不必要的模板更新（详细的钩子函数参数见下）。</p>
				</li>
				<li>
					<p><code>componentUpdated</code>: 被绑定元素所在模板完成一次更新周期时调用。</p>
				</li>
				<li>
					<p><code>unbind</code>: 只调用一次， 指令与元素解绑时调用。</p>
				</li>
			</ul>
		</section>
		<hr />
		<section>
			<h3><center>深入响应</center></h3>
			<p>把一个普通 Javascript 对象传给 Vue 实例的 data 选项，Vue 将遍历此对象所有的属性，并使用 Object.defineProperty 把这些属性全部转为 getter/setter。Object.defineProperty 是仅 ES5 支持，且无法 shim 的特性，这也就是为什么 Vue 不支持 IE8 以及更低版本浏览器的原因。</p>
		</section>

	</body>

</html>